/* ---General styles--- */

body {
  font-family: 'Raleway';
  font-weight: 100;
  /* background-image:url('Images/denali.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}










/* ---Navigation bar styling--- */


.solidNav {
  background-color: rgba(250,250,250,.99);
}




/* Logo */

#nav-logo {
  max-width: 300px;
  margin-top: 4px
}




/* Center: Primary nav */

#primary-nav {
  margin-top: 20px
}

#primary-nav li {
  font-size: 20px;
  font-weight: 200;
}

#primary-nav a {
  color: #FFFFFF;
}

.primary-nav-item a:hover {
  color: #FC5D38!important;
  text-decoration: none!important;
  background: transparent!important;
}


#primary-nav li.active{
  color: #FC5D38!important;
}





/* Contact icons */

#contact {
  margin-top: 28px;
}

.icon {
  	display: inline-block;
  	height: 38px;
  	width: 38px;
  	border-radius: 19px;
  	background-color: rgba(255, 255, 255, 0.35);
  	background-size: 38px 38px;
  	margin-right: 14px;
    background-position: center;
  	overflow: hidden;
  	box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
  	-webkit-transition: all 200ms ease-in-out;
  	-moz-transition: all 200ms ease-in-out;
  	-o-transition: all 200ms ease-in-out;
  	transition: all 200ms ease-in-out;
}


.icon:hover {
  background-color: white;
  text-decoration: none;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}


.icon:hover a {
  opacity: 1;
  text-decoration: none;
}


.icon a {
  display: block;
  height: 38px;
  width: 38px;
  opacity: 0;
  color: rgba(255, 255, 255, 0);
  text-decoration: none;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.icon img {
  height: 38px;
  width: 38px;
}

.email {
  background-image: url(../Images/email.png);
}

.twitter {
  background-image: url(../Images/twitter.png);
}

.linkedin {
  background-image: url(../Images/linkedin.png);

}

.instagram {
  background-image: url(../Images/instagram.png);
}










/* ---Main content-- */

h1 {
  font-family: 'La Belle Aurore';
  color: #FC5D38;
  font-size: 50px;
}

small {
  color: #FFFFFF!important;
}


/* For some reason this was necessary before; no longer.
#fullpage .section {
  padding-top:100px;
  position: relative;
}
*/


.next-page {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: rgb(220,220,220);
  opacity: 0.4;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-top: 150px;
}

.next-page a {
  display: block;
  padding: 15px 0 0 0;
  text-align: center;
}

.next-page img {
  height: 30px;
  width: 30px;
}

.next-page:hover {
  opacity: 1;
}


.next-page a:hover {
  text-decoration: none!important;
}








/* Section 1: #home */

#section1 {
  background: url('../Images/denali.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#main-text-s01 {
  width: 400px;
  margin: 0 auto;
}

#next-arrow-01 {
  margin-top: 430px;
}






/* Section 2: #design */

#section2 {
  background-color: rgb(240,240,240);
}


.portfolio-link {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #FC5D38;
  opacity: 0.9;
  position: absolute;
  left: 95%;
  margin-top: -125px;
}

.portfolio-link a {
  display: block;
  padding: 15px 0 0 0;
  text-align: center;
}

.portfolio-link img {
  height: 30px;
  width: 30px;
}

.portfolio_link:hover {
  opacity: 1;
}


.portfolio_link a:hover {
  text-decoration: none!important;
}



#next-arrow-02 {
  margin-top: 245px;
}









/* Section 3: #chocolate */

#section3 {
  background-color: rgb(240,240,240);
}


#next-arrow-03 {
  margin-top: 280px;
}








/* Section 4: #about */

#section4 {
  background-color: rgb(240,240,240);
}

#brittany-photo img {
  width: 300px; 
}








/* ---Footer--- */

/* General footer things */


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #FC5D38;
  /* Set the fixed height of the footer here */
   height: 110px; 
}


/* Top row: nav */

#footer-nav {
  color: #FCF9F0;
  margin-top: 12px;
  font-size: 18px;
  word-spacing: 10px;
}

#footer-nav a {
  color: #FCF9F0;
}

#footer-nav a:hover {
  color: #FFFFFF!important;
  background: transparent!important;
  text-decoration: none;
}


/* Middle row: logo / contact */


#footer-contact {
  margin-top: 6px;
}

#footer-logo {
  width: 150px;
  margin-right: 30px;
}

.contact-footer-icons {
  width: 30px;
  margin: 2px;
}


/* Bottom row: copyright */

#footer-bottom-row {
  color: #FCF9F0;
  font-size: 10px;
  margin-top: 8px;

  /* If auto-scrolling = false */
  margin-bottom: 8px;
}

#copyright {
  word-spacing: 10px;
}