/* ---General styles--- */

body {
  font-family: 'Raleway';
  font-weight: 100;
  /* background-image:url('Images/denali.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}



/* ---Navigation bar styling--- */


/* Logo */

#nav-logo {
  max-width: 300px;
  margin-top: 4px
}




/* Center: Primary nav */

#primary-nav {
  margin-top: 20px
}

#primary-nav li {
  font-size: 20px;
  font-weight: 200;
}

#primary-nav a {
  color: #FFFFFF;
}

.primary-nav-item a:hover {
  color: #FC5D38!important;
  text-decoration: none!important;
  background: transparent!important;
}



/* Contact icons (right) */

#contact {
  margin-top: 25px;
}

.icon {
  	display: inline-block;
  	height: 38px;
  	width: 38px;
  	border-radius: 19px;
  	background-color: rgba(255, 255, 255, 0.35);
  	background-size: 38px 38px;
  	margin-right: 14px;
    background-position: center;
  	overflow: hidden;
  	box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
  	-webkit-transition: all 200ms ease-in-out;
  	-moz-transition: all 200ms ease-in-out;
  	-o-transition: all 200ms ease-in-out;
  	transition: all 200ms ease-in-out;
}


.icon:hover {
  background-color: white;
  text-decoration: none;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}


.icon:hover a {
  opacity: 1;
  text-decoration: none;
}


.icon a {
  display: block;
  height: 38px;
  width: 38px;
  opacity: 0;
  color: rgba(255, 255, 255, 0);
  text-decoration: none;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.icon img {
  height: 38px;
  width: 38px;
}

.email {
  background-image: url(../Images/email.png);
}

.twitter {
  background-image: url(../Images/twitter.png);
}

.linkedin {
  background-image: url(../Images/linkedin.png);

}

.instagram {
  background-image: url(../Images/instagram.png);
}



/* ---Main content-- */

.section {
  padding-top:100px;
}


/* Section 1: #home */

#section1 {
  background: url('../Images/denali.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* Section 2: #design */

#section2 {
  
}



/* Section 2: #chocolate */






/* Section 4: #about */

